
$baseLineHeight: 2;
$baseLineHeight: 1.5 !default;
$linkColor: #08c #333 !default;
body {
	line-height:$baseLineHeight;
}

p {
	background:#0982c1;
}

a{
	color:nth($linkColor,1);

	&:hover{
		color:nth($linkColor,2);
	}
}