
$lte7:true;
$type:monster;
.ib{
	display:inline-block;
	@if $lte7{
		*display:inline;
		*zoom:1;
	}
}
p{
	@if $type == ocean{
		color:blue;
	} @else if$type == matador{
		color:red;
	} @else if$type == monster{
		color:green;
	} @else {
		color:black;
	}
}

a{
	font-size:if(true,1em,2em);
}